<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Board List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h1>Board List</h1>
<h2 th:text="${name}"></h2>
<div>
  <a th:href="@{/board/create}">Create New Board</a>
</div>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board : ${boardList}">
    <td th:text="${board.id}">1</td>
    <td th:text="${board.title}">Sample Title</td>
    <td th:text="${board.content}">Sample Description</td>
  </tr>
  </tbody>
</table>
</body>
</html>
