.job-board-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.select-region {
    margin-bottom: 10px;
    padding: 5px 10px;
}

.load-more-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.job-list {
    list-style-type: none;
    padding: 0;
    max-height: 600px; /* 원하는 높이 설정 */
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 5px;
}

.job-item {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.job-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.job-date{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.job-detail {
    font-size: 16px;
    margin-bottom: 5px;
}
