.fetch-job-container {
    font-family: 'Arial', sans-serif;
    background-color: #d1ead1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fetch-job-header {
    width: 80%;
}
.fetch-job-section {
    width: 80%;
    margin: 20px auto;
}

.fetch-job-textcontainer {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}